/* .statistics-container {
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.header h2 {
    margin: 0;
}

.stats-card {
    height: 100%;
    text-align: center;
}

.stats-card .pi {
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}

.activity-trip {
    color: #3f51b5;
}

.activity-image {
    color: #4caf50;
}

.custom-spinner .p-progress-spinner-circle {
    stroke: var(--primary-color);
}

@media screen and (max-width: 768px) {
    .statistics-container {
        padding: 0.5rem;
    }
} */